{% extends 'layout.html' %}
{% block content %}

<h1>{{ object }}</h1>
<table border="1">
    <tr><th align="right">テスト名</th><td>{{ object }}</td></tr>
    <tr><th align="right">解答制限時間</th><td>{{ object.answer_limit_time }}</td></tr>
</table>
<form action="{% url 'teacher:examination-update' object.id %}">
    <input type="submit" value="テスト編集" />
</form>
<h2>設問</h2>
{% if questions %}
<table border="1">
    <tr><th>#</th><th>設問文</th><th>配点</th></tr>
    {% for question in questions %}
    <tr>
        <td align="right">{{ question.question_no }}</td>
        <td><a href="{% url 'teacher:exam_question-detail' question.id %}">{{ question.question_text }}</a></td>
        <td align="right">{{ question.score }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<form action="{% url 'teacher:exam_question-create' %}">
    <input type="hidden" name="exam_id" value="{{ object.id }}" id="id_exam_id" />
    <input type="submit" value="設問作成" />
</form>
<form action="{% url 'teacher:examination-delete' object.id %}">
    <input type="submit" value="テスト削除" />
</form>
<a href="{% url 'teacher:section-detail' object.section_id %}">&lt; 戻る</a>

{% endblock %}
