{% extends 'layout.html' %}
{% block content %}

<h1>コース「{{ course }}」{{ object|yesno:'編集,購入'}}</h1>

<table border="1">
    <tr><th>コース名</th><th>標準価格</th></tr>
    <tr><td>{{ course }}</td><td align="right">{{ course.standard_price }}</td></tr>
</table>

{% if sections %}
<table border="1">
    <tr><th>#</th><th>セクション名</th></tr>
    {% for section in sections %}
    <tr><td align="right">{{ section.id }}</td><td>{{ section }}</td></tr>
    {% endfor %}
</table>
{% endif %}

{% if purchased %}
購入済みです。
{% else %}
<form action="" method="post">
    {% csrf_token %}
    <input type="hidden" name="course_id" value="{{ course.id }}" id="id_course_id" />
    {{ form.as_p }}
    <input type="submit" value="{{ object|yesno:'更新,購入'}}" />
</form>
{% endif %}
<div>
    <a href="JavaScript:history.back()">&lt; 戻る</a>
</div>

{% endblock %}
