{% extends 'layout.html' %}
{% block content %}

<h1>{{ object }}</h1>
<table border="1">
    <tr>
        <th align="right">企業名</th>
        <td>{{ object }}</td>
        <td><a href="{% url 'company:company-update' object.id %}">編集</a></td>
        <td><a href="{% url 'company:company-delete' object.id %}">削除</a></td>
    </tr>
</table>
<table border="0">
    <tr>
        <th>
            法人受講生
            <form action="{% url 'company:corporate_attending_student-create' %}">
                <input type="hidden" name="company_id" value="{{ object.id }}" id="id_company_id" />
                <input type="submit" value="登録" />
            </form>
        </th>
        <th>
            グループ
            <form action="{% url 'company:group-create' %}">
                <input type="hidden" name="company_id" value="{{ object.id }}" id="id_company_id" />
                <input type="submit" value="登録" />
            </form>
        </th>
        <th>
            研修カリキュラム
            <form action="{% url 'company:training_curriculum-create' %}">
                <input type="hidden" name="company_id" value="{{ object.id }}" id="id_company_id" />
                <input type="submit" value="登録" />
            </form>
        </th>
    </tr>
    <tr>
        <td valign="top">
            <table border="1">
                <tr><th>アカウント</th><th></th><th></th></tr>
                {% for student in students %}
                <tr>
                    <td><a href="{% url 'company:corporate_attending_student-detail' student.id %}">{{ student }}</a></td>
                    <td><a href="{% url 'company:corporate_attending_student-update' student.id %}">編集</a></td>
                    <td><a href="{% url 'company:corporate_attending_student-delete' student.id %}">削除</a></td>
                </tr>
                {% endfor %}
            </table>
            <form action="{% url 'company:corporate_attending_student-create' %}">
                <input type="hidden" name="company_id" value="{{ object.id }}" id="id_company_id" />
                <input type="submit" value="登録" />
            </form>
        </td>
        <td valign="top">
            <table border="1">
                <tr><th>#</th><th>グループ名</th><th></th><th></th></tr>
                {% for group in groups %}
                <tr>
                    <td align="right">{{ group.group_no }}</td>
                    <td><a href="{% url 'company:group-detail' group.id %}">{{ group }}</a></td>
                    <td><a href="{% url 'company:group-update' group.id %}">編集</a></td>
                    <td><a href="{% url 'company:group-delete' group.id %}">削除</a></td>
                </tr>
                {% endfor %}
            </table>
            <form action="{% url 'company:group-create' %}">
                <input type="hidden" name="company_id" value="{{ object.id }}" id="id_company_id" />
                <input type="submit" value="登録" />
            </form>
        </td>
        <td valign="top">
            <table border="1">
                <tr><th>#</th><th>研修カリキュラム名</th><th></th><th></th></tr>
                {% for curriculum in curriculums %}
                <tr>
                    <td align="right">{{ curriculum.training_curriculum_no }}</td>
                    <td><a href="{% url 'company:training_curriculum-detail' curriculum.id %}">{{ curriculum }}</a></td>
                    <td><a href="{% url 'company:training_curriculum-update' curriculum.id %}">編集</a></td>
                    <td><a href="{% url 'company:training_curriculum-delete' curriculum.id %}">削除</a></td>
                </tr>
                {% endfor %}
            </table>
            <form action="{% url 'company:training_curriculum-create' %}">
                <input type="hidden" name="company_id" value="{{ object.id }}" id="id_company_id" />
                <input type="submit" value="登録" />
            </form>
        </td>
    </tr>
</table>
<a href="{% url 'company:index' %}">&lt; 戻る</a>
{% endblock %}
